<!DOCTYPE html>
<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Register for Access</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
 
    <!-- StyleSheet -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <!-- Custom Style for This Sheet -->
    <link rel="stylesheet" href="/static/css/signin.css" />


</head>
 
    <body>
        <!-- Navigation Bar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://en.wikipedia.org/wiki/Rodan">Project Rodan</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url "index" %}">Home</a>
                </li>
                <li>
                    <a href="#">Forgot Password</a>
                </li>

                </ul>
            </div>
        </div>
    </div>
<!-- Navigation Ends -->        
    {% if registered %}
    
        <strong>Thank you for registering!</strong>
        <a href="{% url "index" %}">Return to the homepage.</a><br>
    
    {% else %}
    
        <div class="container" style="margin:10px;">
            <div class="row"><h2>Register Here</h2></div>
        <form class = "navbar-form navbar-left"  id="registration" method='post' action='{% url "register" %}' enctype="multipart/form-data">
        <div class="form-group">
       {% csrf_token %}
                    
            <!-- Display each form.  The as_p method wraps each element in a paragraph element.    -->
                    
            {{ user_form.as_p }}
                 
            <!-- Provide a button to click submit the form. -->
           
                <button type="submit" class="btn btn-primary">Register</button>
             </div>             

        </form>
            
        </div>  <!-- end of container -->
    
    {% endif %}
    

    </body>
</html>
